<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>登录页</title>
        <link rel="stylesheet" href="../static/css/stylecss.css">
        <link rel="stylesheet" href="../static/css/sliding.css">
        <script src="../static/js/jquery-3.1.1.min.js"></script>
        <script src="../static/js/clickthing.js"></script>
    </head>
    <body>
        <header>
            <nav class="b_clear">
                <div class="nav_logo l_float">
                    <img src="../static/imgs/logo1.png" alt="">
                </div>
                <div class="nav_link r_float">
                    <ul>
                        <li><a href="#">返回首页</a></li>
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="login_body l_clear">
                <div class="login_form l_float">
                    <div class="login_top">
                        <img src="../static/imgs/logo1.png" alt="" class="">
                        
                        <div class="login_tags b_clear">
                            <span class="top_tag l_float active" onClick="PwdLogin()">新生密码登录</span>
                            <span class="top_tag r_float" onClick="QrcodeLogin()">管理员登录</span>
                        </div>
                    </div>
                   
                    <div class="login_con">
                        <form action="/stu/login" method="POST" id="stulogin">
                            <div>
                                <label for="user_name">用户名</label>
                                <input type="text" name="StuNumber" id="user_name" placeholder="请输入学号/手机号">
                                <img src="../static/imgs/icons/user.svg">
                                <p class="tips hidden" id="username_hi">请检查账号，账号不能为空</p>
                            </div>
                            <div>
                                <label for="user_pwd">密码</label>
                                <input type="password" name="Password" id="user_pwd" placeholder="请输入账户密码">
                                <img src="../static/imgs/icons/lock.svg">
                                <p class="tips hidden" id="pwd_hi">请检查密码，密码不能为空</p>
                            </div>
                            <div class="b_clear">
                                <label for="auth_code" class="b_clear">验证码</label>
                                <input type="text" name="" id="auth_code" placeholder="请输入下方验证码">
                                <img src="../static/imgs/icons/auth_code.svg">
                                <p class="tips hidden" id="code_hi">验证码错误</p>
                            </div>
                            <div id="v_container">
                            </div>
                            <div class="b_clear_submit">
                                <button type="button" id="submit1">登&nbsp;&nbsp;录</button>
                                <a href="#" class="r_float">忘记密码？</a>
                                <p class="tips hidden" id="stu_hi">登录失败，请检查您的账户与密码</p>
                            </div>
                        </form>   
                    </div>
                    
                    <div class="login_con hidden">
                        <form action="/admin/login" method="POST" id="admlogin">
                            <div>
                                <label for="user_name">用户名</label>
                                <input type="text" name="adminname" id="admin_name" placeholder="请输入教职工编号">
                                <img src="../static/imgs/icons/user.svg">
                                <p class="tips hidden" id="name_tip">请检查您的账号</p>
                            </div>
                            <div>
                                <label for="user_pwd">密码</label>
                                <input type="password" name="adminpwd" id="admin_pwd" placeholder="请输入账户密码">
                                <img src="../static/imgs/icons/lock.svg">
                                <p class="tips hidden" id="pwd_tip">请检查您的密码</p>
                            </div>
                            <div class="b_clear">
                                <label for="user_name">滑动滑块解锁</label>
                            </div>
                            <div class="drag">
                                <div class="bg"></div>
                                <div class="geshi">
                                    <div class="text" onselectstart="return false;">请拖动滑块解锁</div>
                                    <div class="btn">>></div>
                                </div>
                            </div>
                            <div class="b_clear submit">
                                <button type="button" id="submit2">登&nbsp;&nbsp;录</button>
                                <p class="tips hidden">登录失败，请检查您的账户与密码</p>
                            </div>
                        </form>   
                    </div>
                </div>
                <div class="login_ad l_float" id="AdImg">
                    <a href="">查看详情</a>
                </div>
            </div>
            <div class="footer">
                        <p>Copyright © 2018-2020  <a href="#">隆泰和科技公司</a></p>
            </div>
        </div>
        <script src="../static/js/sliding.js"></script>
        <script src="../static/js/code.js"></script>
        <script src="../static/js/login.js"></script>
    </body>
</html>
